* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
}

.navbar {
    width: 100%;
    padding: 14px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 22px;
    font-weight: 700;
}

.logo i {
    transform: rotate(-40deg);
    font-size: 20px;
}

.nav-actions {
    display: flex;
    gap: 10px;
}

.btn-light {
    background: rgb(255, 255, 255);
    border: 1px solid #cfcfcf;
    padding: 8px 18px;
    border-radius: 8px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.btn-dark {
    background: black;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 8px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 6px;
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        gap: 10px;
        padding: 12px 10px;
    }

    .logo {
        font-size: 18px;
    }

    .btn-light,
    .btn-dark {
        padding: 6px 14px;
        font-size: 12px;
    }
}

.tabs-list {
    background-color: #e0e0e0;
    border-radius: 20px;
    display: flex;
    gap: 50px;
    justify-content: center;
    margin: 30px auto 0 auto;
    padding: 0 10px;
    max-width: 50%;
    box-sizing: border-box;
}

.tabs-trigger {
    display: inline-block;
    padding: 15px 50px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    white-space: nowrap;
}

.tabs-trigger:hover {
    background-color: #f7f7f7;
}

@media (max-width: 768px) {
    .tabs-list {
        gap: 10px;
        max-width: 90%;
    }

    .tabs-trigger {
        padding: 10px 10px;
        flex: 1 1 auto;
        text-align: center;
    }
}

.nutrition-main {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 50px auto 0 auto;
    box-sizing: border-box;
}

.nutrition-card1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.meals-calories {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.meals-calories li h3 {
    font-size: 30px;
}

.meals-calories li p {
    color: #7f7f7f;
}

.log-meal {
    list-style: none;
}

.macronutrient-main {
    border: 1px solid rgb(177, 177, 177);
    border-radius: 10px;
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mac-title {
    width: 95%;
    margin: 20px auto;
}

.mac-cards-main {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.mac-card {
    width: 340px;
    min-height: 100px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.mac-card h4 {
    color: #7f7f7f;
}

.mac-card p {
    font-size: 20px;
    font-weight: bolder;
}

.meal-cards-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}


.meal-card {
    width: 420px;
    min-height: 0px;
    background: white;
    border-radius: 14px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    font-family: Arial, sans-serif;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

.meal-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.meal-content {
    padding: 14px;
    margin-top: 20px;
}

.meal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.meal-time {
    font-size: 12px;
    color: gray;
}

.calories-badge {
    background: #f3f3f3;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
    color: #444;
}

.meal-nutrition {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    text-align: center;
}

.meal-nutrition p {
    font-size: 12px;
    color: gray;
    margin-bottom: 4px;
}

.meal-nutrition h4 {
    margin: 0;
    font-size: 16px;
}


@media (max-width: 500px) {
    .nutrition-main {
        width: 95%;
    }

    .mac-cards-main {
        width: 95%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .mac-card {
        width: 100px;
        min-height: 100px;
        gap: 15px;
    }

    .mac-card h4 {
        color: #7f7f7f;
        font-size: 10px;
    }

    .mac-card p {
        font-size: 15px;
        font-weight: bolder;
    }

    .meal-cards-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .meal-card {
        width: 100%;
        margin-bottom: 10px;
    }
}